
<!Doctype html>
<html lang=en>
<head>
  <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">-->
<title>Gender Classifier</title>
<body>
  <h2>Gender Classifier</h2>
    <div class="container">
      <div class="row">
        <div class="col">

          <h1>Upload an image</h1>
          <hr>

          <form action="{{ url_for('upload_image') }}" method="POST" enctype="multipart/form-data">

            <div class="form-group">
              <label>Select image</label>
              <div class="custom-file">
                <input type="file" class="custom-file-input" name="image" id="image">
              <!--  <label class="custom-file-label" for="image">Select image...</label>-->
              </div>
            </div>

            <button type="submit" class="btn btn-primary">Upload</button>

          </form>

        </div>
      </div>
    </div>
</body>
</head>
</html>
